# App
APP_EXTERNAL_PORT=8080
SERVER_PORT=8080
ADMINER_EXTERNAL_PORT=8888

# Database
DB_EXTERNAL_PORT=3307
DB_HOST=mysql
DB_PORT=3306
DB_NAME=taskey
DB_USER=taskey
DB_PASSWORD=taskey
DB_ROOT_PASSWORD=rootpassword

# Persistence behavior
SPRING_JPA_HIBERNATE_DDL_AUTO=update
